exoplanet-core[pymc]
-e git+https://github.com/exoplanet-dev/exoplanet.git#egg=exoplanet
-e git+https://github.com/exoplanet-dev/celerite2.git#egg=celerite2
nbformat
nbconvert
corner
lightkurve
ipykernel
jupyter
jupytext
