exoplanet @ git+https://github.com/exoplanet-dev/exoplanet.git@main
pymc-ext @ git+https://github.com/exoplanet-dev/pymc-ext.git@main
numpy
astropy
xarray
celerite2
corner
lightkurve
nbconvert
ipykernel
jupyter
jupytext
setuptools<82
